<div class="row">
  <span class="col-md-1 col-sm-1 col-xs-1"></span>
  <span class="col-md-5 col-sm-5 col-xs-5">
    <div id="befriend" class="ui-widget-header ui-droppable friend-bucket">    
      <div class="alert alert-success">
        <strong>Friends:</strong> 
      </div>
      <ul class="list-group">
        <% friends.each(function(user){ %>   
          <div class="ui-widget-content draggable draggable-friend" data-id="<%= user.escape('id') %>">         
          <li class="list-group-item"><a><%= user.escape('username') %></a></li>
          </div>
        <% }) %> 
      </ul> 
    </div>
  </span>
  <span class="col-md-5 col-sm-5 col-xs-5 pull-right">
    <div id="defriend" class="ui-widget-header ui-droppable friend-bucket">
      <div class="alert alert-danger">
        <strong>Not-Friends:</strong> 
      </div>      
      <ul class="list-group">
        <% notfriends.each(function(user){ %>   
          <div class="ui-widget-content draggable draggable-stranger" data-id="<%= user.escape('id') %>">         
          <li class="list-group-item"><a><%= user.escape('username') %></a></li>
          </div>
        <% }) %> 
      </ul>
    </div>
  </span>
</div>


