<div class="nope" data-name="<%= result.name %>">
  
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>A Feast Awaits You at:<h4> <%= result.name %></h4></strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Rated <%= result.rating %> Stars!
      </li>
      <button id="toggle-directions" class="btn btn-warning btn-block">
        Directions
      </button>
      <div id="directions-panel" class="hidden">
        
      </div>
    </ul>
  </div>
</div>
<br>