<div class='nope' data-name='<%= result.name %>'>
  
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>A Feast Awaits You at:<h3> <%= result.name %></h3></strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= result.rating %>
      </li>
    
    </ul>
  </div>
</div>
<br>