<div class='row'>
  <span class="col-md-9 col-sm-9 col-xs-8">    
    <div class='row'>
      <span class="col-md-1 col-sm-1 col-xs-1"></span>
      <span class="col-md-4 col-sm-4 col-xs-4">
        <button id="get-location">Aim satellites!</button> 
      </span>
    </div>

    <br/>
    <div class='row'>
      <span class="col-md-1 col-sm-1 col-xs-1"></span>
      <span class="col-md-7 col-sm-7 col-xs-7">
        <div id="map-canvas" style="width:500px; height: 500px"></div>
      </span>
    </div>
  </span>
  
  <span class="col-md-3 col-sm-3 col-xs-4 pull-right">
    <div class="list-group">
      <a href="#friends" class="list-group-item active">
        <h3 class="list-group-item-heading">Friends</h3>
      </a>
      <div id="ticker">
        <% friends.each(function(user){ %>  
          
          <div class="list-group-item draggable-friend" data-id="<%=user.escape('id')%>">
            <h4 class="list-group-item-heading">
              <%= user.escape('username') %>
            </h4>
          </div> 
        <% }) %>       
      </div>
      <a class="list-group-item active">
        <h3 class="list-group-item-heading"></h3>
      </a>     
    </div>
    <div class="list-group" id="add-to-party">
      <a class="list-group-item active">
        <h3 class="list-group-item-heading">Party</h3>
      </a>
      <div id="ticker">
        <% party.each(function(user){ %>  
          <a class="list-group-item draggable-friend">
            <h4 class="list-group-item-heading">
              <%= user.escape('username') %>
            </h4>
          </a> 
        <% }) %>       
      </div>
      <a class="list-group-item active">
        <h3 class="list-group-item-heading"></h3>
      </a>     
    </div>
    
  </span>
</div>










