@import "twitter/bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

//.frendlist {
//  height:300px;
//}

//.navbar-brand {
//  color: white;
//}
//
//.navbar-default {
//  background-color: #428BCA; 
//}
 
#reject-pile {
  height:200px;
  width:100%;
} 

#map-canvas {
  height:300px;
  width:100%;
}

.hidden {
  display: none;
}

.draggable-friend {
  z-index: 9001;
  
}

.friend-bucket {
  min-height:600px;
  
  width:300px;
}

#ticker {
  height:200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#ticker a {
  height:50px;
}

#sign-out {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.namee {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
