<div id="sign-up">
  <div class="row">
    <div class="container" style="width:200px;">
   
      
     
      
      <form action="<%= path %>" method="post" class="form-signin">
        <h2 class="form-signin-heading"><%= message %></h2>
        <label>Username: <br>
          <input type="text" class="form-control" placeholder="Username" autofocus name="user[username]" value="<%= @user.username %>"> <br>
        </label> <br>
        <label>Password: <br>
          <input type="password" class="form-control" placeholder="Password" name="user[password]"> <br>
        </label> <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="<%= message %>!">
         
      </form>
    
